<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="nav-left">
                <img src="/img/D-logo.png" alt="logo-dumbways" class="img"/>
          <ul>
            <li class="item-collapse">
              <a href="/" class="active">Home</a>
            </li>
            <li class="item-collapse">
              <a href="myproject-detail">My Project</a>
            </li>
           
          </ul>
        </div>
       <div class="nav-right item-collapse">
          <ul>
            
             {{#if isLogin }}
             <li>
                <p>Welcome, {{user.name}}</p>
             </li>
               <li>
                <a href="/logout">
                <button class="btn-logout">Logout</button>
                </a>
             </li>
                {{else}}
              <li>
                 <a href="/login">Login</a> 
              </li>
              <li>
                 <a href="/register">Register</a>
                {{/if}}
              </li>
              <li>
              <a href="contact" class="contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="nav-right" id="hamburger-menu">
          <button
            style="background-color: transparent; border: none; cursor: pointer"
            onclick="openHamburger()"
          >
            <i class="fa-2x fa-solid fa-bars"></i>
          </button>
        </div>
      </div>
    </nav>

    <!-- Hamburger Menu -->
    <div class="hamburger-nav-container" id="hamburger-nav-container">
      <div class="container-hamburger">
        <a href="/" class="active"> Home </a>
        <a href="myproject"> My Project </a>
        <div class="contact-me">
          <a href="contact" class="hamburger-contact-me">Contact</a>
        </div>
      </div>
    </div>
   {{#if messages.success}}
    <div class="alert-success" role="alert" >
        <div class="container">
          
            <p> {{messages.success}} </p>
        </div>
    </div>
    {{/if}}

    <main>
      <section class="container">
        <div class="hero">
          <div>
            <h5>Hi, my name is</h5>
            <h1>Dwiki Solihin Akbar Rafi.</h1>
            <h1 class="tag">I build things for the web. </h1>
            <p class="my-profil">
              I'm a Frontend developer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I'm focused on building accessible, human-centered products at Upstatement
            </p>
            <a href="/contact" target="_blank" class="my-contact">
              Contact
            </a>
            <a href="" class="link-down">
              download CV <i class="fa-solid fa-download"></i>
            </a>
            <br />
            <ul class="contact-sosial">
              <li>
                <a
                  href="https://www.linkedin.com/in/dwiky-solihin-460556170/"
                  class="sosial"
                  aria-label="Linkedin"
                >
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/dwikysholihin/"
                  class="sosial"
                  aria-label="Instagram"
                >
                  <i class="fa-brands fa-square-instagram"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/dwikyshalihin.akbarrafi"
                  class="sosial"
                  aria-label="Facebook"
                >
                  <i class="fa-brands fa-square-facebook"></i>
                </a>
              </li>
              <li>
                <a href="" class="sosial" aria-label="Twitter">
                  <i class="fa-brands fa-square-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <figure class="my-image">
            <img src="/img/img.jpg" alt="dwiki solihin AR" />
            <figcaption>
              <h2>Dwiki Solihin Akbar Rafi</h2>
              <p>Frontend Developer</p>
            </figcaption>
          </figure>
        </div>
      </section>
    </main>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/src/assets/javaScript/hamburger.js"></script>
  </body>
</html>
